// Färgpaletter för rapport till moment 4
.colortable {
    width: 80%;
    margin: 0% auto;

    tr {
        height: 50px;
    }

    .co1
    .site1 {
        background-color: #fff;
    }

    .co2
    .site1 {
        background-color: #088;
    }

    .co3
    .site1 {
        background-color: #fff;
    }

    .co4
    .site1 {
        background-color: #0a0;
    }

    .co5
    .site1 {
        background-color: #fff;
    }

    .co1
    .site2 {
        background-color: #080;
    }

    .co2
    .site2 {
        background-color: #fff;
    }

    .co3
    .site2 {
        background-color: #880;
    }

    .co4
    .site2 {
        background-color: #fff;
    }

    .co5
    .site2 {
        background-color: #58b;
    }

    .co1
    .site3 {
        background-color: #fff;
    }

    .co2
    .site3 {
        background-color: #800;
    }

    .co3
    .site3 {
        background-color: #fff;
    }

    .co4
    .site3 {
        background-color: #faa;
    }

    .co5
    .site3 {
        background-color: #fff;
    }

    .co1
    .site4 {
        background-color: #0a0;
    }

    .co2
    .site4 {
        background-color: #fff;
    }

    .co3
    .site4 {
        background-color: #f0f;
    }

    .co4
    .site4 {
        background-color: #fff;
    }

    .co5
    .site4 {
        background-color: #00f;
    }

    .co1
    .site5 {
        background-color: #fff;
    }

    .co2
    .site5 {
        background-color: #0f0;
    }

    .co3
    .site5 {
        background-color: #fff;
    }

    .co4
    .site5 {
        background-color: #f00;
    }

    .co5
    .site5 {
        background-color: #fff;
    }

}
