@import 'mobile-menu';

@media (min-width: 769px) {
    .tri-col-grid,
    .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .tri-col-grid
    h2,
    .gallery-grid
    h2 {
        grid-column: span 2;
    }
}

@media (max-width: 1024px) {
    .title
    .logo {
        padding: 0.2em;
    }

    .title,
    .main img {
        min-width: 50%;
    }

    .main {
        width: 90%;
    }

    .duo-col-flex {
        width: 100%;
        justify-content: space-around;
    }
}

@media (min-width: 1025px) {
    .tri-col-grid,
    .gallery-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .tri-col-grid
    h2,
    .gallery-grid
    h2 {
        grid-column: span 3;        
    }
}

@media (max-width: 768px) {
    .tech-menu {
        display: none;
    }
    
    .tech-main {
        padding-left: 0;
    }
}
