@import '../../node_modules/normalize.css/normalize';

@import url('https://fonts.googleapis.com/css2?family=Faustina&family=Oswald&display=swap');

@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import 'blockquotes';
@import 'code';
@import 'font-size';
@import 'typography';
@import 'responsivity';

* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

ol,
ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html,
body {
    height: 100%;
    background-color: $background-color;
}

/* Placement */

body {
    display: flex;
    flex-direction: column;
    line-height: $base-line-height;
}

.main {
    width: 75%;
    flex: 1 0 auto;
    margin: 1em auto;

    h2 {
        @include size(h2);
        margin-bottom: 1.9rem;
    }

    h3 {
        @include size(h3);
        margin-bottom: 1.8rem;
    }

    p {
        @include size(p);
        margin-bottom: 1.7rem;
    }
}

.main img {
    width: 20%;
    float: right;
    padding: 1em;
}

.header,
.footer {
    flex: 0 0 auto;
}

/* Header */

.header {
    border-bottom: 1px solid $border-color1;
}

.header,
.site-header {
    display: flex;
    justify-content: space-evenly;
}

/* Title */

.title,
.logo {
    padding: 3em;
}

.logo {
    background: radial-gradient(#fff, $background-color 75%);
}

.logo img {
    margin: 0% auto;
    padding: 0;
}

/* menu items in nav bar */

.inactive {
    border-bottom: 2px solid $border-menu;
}

.active {
    border: 2px solid $border-menu;
    border-bottom: hidden;
    text-decoration: none;
}

.nav {
    li a {
        color: inherit;
        font-family: 'Oswald', sans-serif;
        font-size: 2em;
        
    }

    li:hover {
        background-color: $menu-lnk;
        color: $menu-lnk-bck;
        font-weight: 800;
    }

    a {
        color: $menu-lnk;
        text-decoration: none;
    }
}

.title * {
    color: $title-color1;

    h1 {
        @include size(h1);
    }

    p {
        @include size(p);
        font-style: italic;
    }
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $border-color1;
}

.footer a {
    color: #ccc;
}

.footer .social {
    font-size: 2rem;
}

.footer .social a {
    text-decoration: none;
}

img {
    max-width: 100%;
}
