/* Typografy */

html {
    font-size: 100%;
}

body {
    font-family: 'Faustina', serif;
    line-height: 1.5rem;
    color: $text-color-main;
}

p,
td,
th,
li,
dd {
    /* font-size: 1em; */
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

p {
    margin-bottom: 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.6em;
    margin-top: 0.8em;
    font-family: 'Oswald', sans-serif;
}
