/* colors */
$font-color: #044;
$font-alternative-color: #440;
$accent-color: #666;
$background-color: #ffd;
$background-alternative-color: #fdf;
$border-color1: #bbb;
$text-color-main: #044;
$border-menu: #ee3;
$menu-lnk: #115;
$menu-lnk-bck: #ddf;
$title-color1: #440;
$code-back: #ccc;
$code-text: #010;
$img-filter-center: #fff;

/* sizes */
$base-line-height: 1.35;
