$font-color: #fbb;
$font-alternative-color: #bbf;
$accent-color: #999;
$background-color: #002;
$background-alternative-color: #002;
$border-color1: #444;
$text-color-main: #fbb;
$border-menu: #22c;
$menu-lnk: #eea;
$menu-lnk-bck: #020;
$title-color1: #bbf;
$code-back: #333;
$code-text: #fef;
