/* colors */
$font-color: hsl(120, 100%, 80%);
$font-alternative-color: hsl(90, 100%, 80%);
$accent-color: hsl(105, 50%, 50%);
$background-color: hsl(120, 5%, 5%);
$background-alternative-color: hsl(90, 5%, 5%);
$border-color1: hsl(135, 30%, 50%);
$text-color-main: hsl(120, 100%, 85%);
$border-menu: hsl(90, 50%, 50%);
$menu-lnk: hsl(150, 100%, 75%);
$menu-lnk-bck: hsl(90, 5%, 5%);
$title-color1: hsl(90, 80%, 80%);
$code-back: #333;
$code-text: #fef;
$img-filter-center: hsl(120, 100%, 80%);

/* sizes */
$base-line-height: 1.35;
